.ye{
 background-color: yellow;
 }
.blu{
 background-color: blue;
 }
.pi{
 background-color: pink;
 }
.padre div{
 width: 120px ;
 height: 90px;
 float: left;
}
.padre{
	border: 1px solid black;
	width: 500px;
	overflow: auto;
}
